
.main-view {
  position: relative;
  height: 100vh;
}
.top-nav-bar {
  background: linear-gradient(to right, #ff8198, #fc4b6b);
  color: #fff;
  text-align: center;
}
.main-scroll {
  position: absolute;
  overflow: hidden;
  top: 44px;
  bottom: 49px;
}